@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-h4 {
  position: relative;
  font-weight: 700;
  overflow: hidden;
}

.navbar-h4:hover {
  cursor: default;
}

.navbar-h4::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: currentColor;
  transition: width 0.2s ease, left 0.2s ease;
}

.navbar-h4.hovered::after {
  width: 100%;
  left: 0;
}

.navbar-dropdown {
  position: absolute;
  background: #ffffff;
  width: 100vw;
  top: 50;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.navbar-dropdown.visible {
  max-height: 800px;
}

.navbar-dropdown .dropdown-content {
  display: flex;
  gap: 5vw;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.navbar-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-dropdown ul li {
  padding: 5px 10px;
}

.navbar-dropdown ul li:hover {
  background-color: #f0f0f0;
}

.dropdown-h3 {
  padding: 5px 10px;
  font-size: larger;
  font-weight: 700;
}
